* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Container */
.container {
    width: 76%;
    margin: 0 auto;
}

/* Header */
header {
    background-image: url('../../img/jumbo.png');
    background-position: left 40px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #255EE9;
    color: #E4F4FE;
}

/* Titolo header */
header h1 {
    color: #fff;
    font-size: 48px;
}

/* Scritte link header */
header a {
    color: #E4F4FE;
    text-decoration: none;
}

/* Paragrafo header */
header p {
    padding: 30px 0 20px 0;
    line-height: 29px; 
    font-size: 20px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    line-height: 36px;
    padding-top: 20px;
}

/* Link navbar */
.navbar a {
    vertical-align: middle;
}

.header-links ul {
    display: flex; 
    justify-content: space-between;
    list-style-type: none;
    min-width: 500px;
}

.header-links li a:hover {
    color: #133279;
}

/* Bottone accedi */
.login-button a {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 15px;
    color: #271E19;
}

.login-button a:hover {
    background-color: #2342A8;
    color: #fff;
}

/* Contenuto header */
.main-header {
    text-align: center;
    width: 67%;
    margin: 0 auto;
    padding: 11% 0; 
}

/* Bottoni parte centrale header */
.header-buttons {
    min-height: 50px; 
    line-height: 50px;
}

.header-buttons a {
    padding: 15px;
    border-radius: 50px;
    font-size: 21px;
    background-color: #fff; 
    color: #271E19;
}

.header-buttons a:hover {
    background-color: #2342A8; 
    color: #fff; 
    box-shadow: 0 2px 2px #000;
}

.header-buttons a:last-of-type {
    background-color: #312F51; 
    color: #fff;
    margin-left: 15px;
}

.header-buttons a:last-of-type:hover {
    color: #fff;
    background-color: #1C1B29;
    box-shadow: 0 2px 2px #312F51;
}

/* Sezioni - contenuto principale */
.main-section {
    position: relative;
}

/* Waves */
.main-section:nth-child(even)::before, .main-section:nth-child(2)::after {
    content: '';
    background-image: url('../../img/wave.svg');
    background-repeat: no-repeat; 
    width: 100%;
    opacity: 0.04;
    height: 80px;
    position: absolute;
} 

.main-section:nth-child(even)::before {
    top: -80px;
}

.main-section:nth-child(2)::after {
    bottom: -80px;
    transform: rotateX(180deg);
}  

.main-section:nth-child(even) > .container {
    flex-direction: row-reverse;
}

.main-section img {
    max-width: 100%;
}

.main-section:nth-child(2) .img-section img {
    display: block; 
    margin-left: auto;
}

.main-section:nth-child(even) {
    background-color: #F5F5F5;
} 

.main-section:nth-child(1) {
    padding: 5% 0 10% 0;
}

.main-section {
    padding: 10% 0;
}

.main-section:nth-child(4) {
    padding: 5% 0;
}

.main-section > .container {
     padding: 0 10px; 
} 

.main-section > .container:not(.not-flex) {
    display: flex;
}

.main-section > .container.not-flex {
    text-align: center;
}

.main-section > .container:not(.not-flex) > .img-section {
    width: 64%;
}

.main-section > .container:not(.not-flex) > .text-section {
    width: 36%;
    padding-top: 30px;
}

.main-section > .container.not-flex img {
    width: 100%;
}

.main-section > .container p {
    font-size: 20px;
    line-height: 29px;
    padding-top: 30px;
}

.main-section > .container.not-flex p {
    width: 88%;
    margin: 0 auto;
}

/* Scritte link main */
.main-section a {
    text-decoration: none;
}

/* Titoli main */
.main-section h2 {
    font-size: 48px;
}

/* h3 sezione 4 */
.main-section h3 {
    font-size: 29px;
    background-image: url('../../img/stars.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 50%;
    padding: 40px 0px;
}

/* Bottone main - sezione 4 */
.main-section .button {
    height: 50px;
    line-height: 50px;
}

.main-section .button a {
    background-color: #7289DA;
    color: #fff;
    border-radius: 50px;
    padding: 15px;
    font-size: 19px;
}

.main-section .button a:hover {
    background-color: #4D7AE8;
}

/* Footer */
footer {
    background-color: #23272A;
    color: #fff;
    color: #7186D0;
}

footer .container {
    padding: 60px 0 50px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.top-footer {
    padding-bottom: 30px;
}

.footer-links ul {
    list-style-type: none;
    line-height: 35px;
}

.footer-links ul li:first-child {
    font-weight: bold;
}

.top-footer, .bottom-footer {
    display: flex;
    justify-content: space-between;
}

.top-footer .social-links h3 {
    font-size: 30px;
}

/* Scritta italiano */
.lang {
    margin: 15px 0;
    color: #fff;
    height: 30px;
    background-image: url('../../img/ita.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 30px;
    height: 16px;
    font-size: 14px;
}


.top-footer .social-links a {
    margin-right: 15px;
    font-size: 19px;
}

.top-footer .social-links a:last-of-type {
    margin-right: 0;
}

.top-footer a:hover {
    color: #C2D2FF;
}

.top-footer .footer-links {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.bottom-footer {
    border-top: solid 2px #4C5984;
    padding-top: 20px;
}

.bottom-footer .signin-button {
    height: 40px;
    line-height: 40px;
}

.bottom-footer .signin-button a {
    background-color: #7289DA;
    color: #fff;
    border-radius: 50px;
    padding: 10px 13px;
    font-size: 14px;
}

.bottom-footer .signin-button a:hover {
    background-color: #4D7AE8;
}